*{
	margin:0;
	padding: 0;
}
body{
	background: #7FA1D5;
}
p{
	font-size: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	line-height: 30px;
}
h3{
	color: #F5EA77;
	background: url("imagenes/winb.png");
	border-radius: 10px 10px 0 0;
	font-family: verdana;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}
h4{
	font-size: 16px;
	font-family: verdana;
	font-weight: bold;
}
header{
	
	margin: auto;
	margin-bottom: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #F5EA77;
	background-image: url("imagenes/winb.png");
	height: 150px;
	width: 960px;
}
header h1{
	text-shadow: 1px 1px 7px rgb(0, 0, 0);
	color: #F5EA77;
	
	font-family: verdana;
	font-size: 40px;
	font-weight: bold;
	line-height: 150px;
	margin-top: 10px;
	padding-left: 20px;
	/*text-transform: uppercase;*/
	vertical-align: middle;
}
nav{
	margin-top: 3px;
	border-radius:10px;
	background: #000000;
	height: 50px;
	margin: auto;
	margin-bottom: 5px;
	width: 960px;
}
nav ul{
	text-align: center;
	list-style: none;
	width: 100%;
}
nav ul li{
	color: #F5EC3B;
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	display: inline-block;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
}
nav ul li:hover{
	color: #ffffff;
}
#slider{
	background: url("imagenes/image.jpg");
	background:  #8ee771;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 5px;
	width: 960px;
}
#slider img{
	height: 350px;
}
#continicio{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
#continicio h2{
	font-size: 40px;
	font-family: verdana;
	font-weight: bold;
}

#slider figure img{
	display: block;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgb(0, 0, 0);
	opacity: .9;
	width: 100%;
}
.contenido{
	background: url("imagenes/image.jpg");
	background: #ffffff;
	border-radius: 10px;
	margin-top: 3px;
	margin: auto;
	margin-bottom: 5px;
	width: 960px;
}
.articulos{
	padding: 10px;
}
.articulos img{
	display: block;
	margin: auto;
	text-align: center;
}

.serv1{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 25px;
	display: inline-block;
	width: 280px;
}

.serv1 img{
	border-radius: 10px;
	background: url("imagenes/image.jpg");
	border:1px solid #92C1BC;
	margin-top: 10px;
	height: 150px;
	width: 100%;
}

footer{
	border-radius: 10px;
	background: rgb(0, 0, 0);
	height: 75px;
	margin: auto;
	margin-bottom: 5px;
	width: 960px;
}
footer p{
	color: #F5EA77;
	font-family: verdana;
	font-size: 15px;
	font-weight: bold;
	/*text-transform: uppercase;*/
	text-align: center;
	line-height: 75px;
	/*vertical-align: middle;*/
	
}
